/* 主题颜色 */
:root {
    --primary-color: #bb4d42;
    --secondary-color: #2d6bd8;
    --background-color: #111213;
    --card-color: #191a1f;
    --card-color-light: #26272d;
    --card-hover-color: #151618;
    --icon-color: #a0a0a1;
    --border-color: #191a1f;
    --text-color: #fff;
}
