.m1 {
    background-image: url("./mahjongs/m1.png");
}

.m2 {
    background-image: url("./mahjongs/m2.png");
}

.m3 {
    background-image: url("./mahjongs/m3.png");
}

.m4 {
    background-image: url("./mahjongs/m4.png");
}

.m5 {
    background-image: url("./mahjongs/m5.png");
}

.m6 {
    background-image: url("./mahjongs/m6.png");
}

.m7 {
    background-image: url("./mahjongs/m7.png");
}

.m8 {
    background-image: url("./mahjongs/m8.png");
}

.m9 {
    background-image: url("./mahjongs/m9.png");
}

.m05 {
    background-image: url("./mahjongs/m05.png");
}

.s1 {
    background-image: url("./mahjongs/s1.png");
}

.s2 {
    background-image: url("./mahjongs/s2.png");
}

.s3 {
    background-image: url("./mahjongs/s3.png");
}

.s4 {
    background-image: url("./mahjongs/s4.png");
}

.s5 {
    background-image: url("./mahjongs/s5.png");
}

.s6 {
    background-image: url("./mahjongs/s6.png");
}

.s7 {
    background-image: url("./mahjongs/s7.png");
}

.s8 {
    background-image: url("./mahjongs/s8.png");
}

.s9 {
    background-image: url("./mahjongs/s9.png");
}

.s05 {
    background-image: url("./mahjongs/s05.png");
}

.p1 {
    background-image: url("./mahjongs/p1.png");
}

.p2 {
    background-image: url("./mahjongs/p2.png");
}

.p3 {
    background-image: url("./mahjongs/p3.png");
}

.p4 {
    background-image: url("./mahjongs/p4.png");
}

.p5 {
    background-image: url("./mahjongs/p5.png");
}

.p6 {
    background-image: url("./mahjongs/p6.png");
}

.p7 {
    background-image: url("./mahjongs/p7.png");
}

.p8 {
    background-image: url("./mahjongs/p8.png");
}

.p9 {
    background-image: url("./mahjongs/p9.png");
}

.p05 {
    background-image: url("./mahjongs/p05.png");
}

.dong {
    background-image: url("./mahjongs/dong.png");
}

.nan {
    background-image: url("./mahjongs/nan.png");
}

.xi {
    background-image: url("./mahjongs/xi.png");
}

.bei {
    background-image: url("./mahjongs/bei.png");
}

.bai {
    background-image: url("./mahjongs/bai.png");
}

.fa {
    background-image: url("./mahjongs/fa.png");
}

.zhong {
    background-image: url("./mahjongs/zhong.png");
}
